<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<link href="/css/calccss.css" th:href="@{/calccss.css}"
	rel="stylesheet"></link>
<script src="/js/calc.js" th:src="@{/js/calc.js}"></script>
<title>TF電卓</title>
</head>
<body>
	<h3>TF電卓</h3>

	<form name="calc">

		<input type="text" id="view" name="result" value="0">


		<table border="0">
			<tr>
				<td><input type="button" value="おさる" onClick="george()"></td>
				<td><input type="button" value="とうふ" onClick="tofu()"></td>
				<td><input type="button" value="%" onClick="inputOper('%')"></td>
				<td><input type="button" value="C" onClick="clearView()"></td>
			</tr>
			<tr>
				<td><input type="button" value="7" onClick="inputValue('7')"></td>
				<td><input type="button" value="8" onClick="inputValue('8')"></td>
				<td><input type="button" value="9" onClick="inputValue('9')"></td>
				<td><input type="button" value="/" onClick="inputOper('/')"></td>
			</tr>
			<tr>
				<td><input type="button" value="4" onClick="inputValue('4')"></td>
				<td><input type="button" value="5" onClick="inputValue('5')"></td>
				<td><input type="button" value="6" onClick="inputValue('6')"></td>
				<td><input type="button" value="*" onClick="inputOper('*')"></td>
			</tr>
			<tr>
				<td><input type="button" value="1" onClick="inputValue('1')"></td>
				<td><input type="button" value="2" onClick="inputValue('2')"></td>
				<td><input type="button" value="3" onClick="inputValue('3')"></td>
				<td><input type="button" value="-" onClick="inputOper('-')"></td>
			</tr>
			<tr>
				<td><input type="button" value="0" onClick="inputValue('0')"></td>
				<td><input type="button" value="." onClick="inputValue('.')"></td>
				<td><input type="button" value="=" onClick="inputCalc()"></td>
				<td><input type="button" value="+" onClick="inputOper('+')"></td>
			</tr>
		</table>
	</form>

</body>
</html>